.pageHeader {
  width: 100%;
  min-height: 1%;
  position: fixed;
  z-index: 999;
}
.pageHeader:before {
  content: "";
  width: 100%;
  height: 0;
  display: block;
  background: linear-gradient(
    95deg,
    rgba(var(--primaryRGB), 0.8) 0%,
    rgba(var(--primaryRGB), 1) 50%,
    rgba(var(--primaryRGB), 0.8) 100%
  );
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(var(--goldRGB), 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s ease;
}

.pageHeader:global(.stick):before,
.pageHeader:global(.opened):before {
  height: 100%;
}
.pageHeader:global(.opened) {
  min-height: 100vh;
}

.logoBox {
  width: auto;
  height: 45px;
  aspect-ratio: 2.62;
  display: block;
  position: relative;
}
.logoImg {
  width: 100%;
  height: 100%;
}
.pageHeader:global(.stick) .logoImg {
  width: 100%;
}

.headBtns {
  background: transparent;
  border: 0;
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.headBtns > span {
  text-shadow: 0 0 1px #000;
}

.menuBtn {
  width: 1.5rem;
  height: auto;
  aspect-ratio: 1;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
}
.menuBtn span {
  width: 100%;
  height: 3px;
  display: block;
  background: var(--gold);
  border-radius: 50rem;
  position: relative;
  transform-origin: 100% 50%;
  transition: all 0.3s ease;
}

.pageHeader:global(.opened) .menuBtn span:nth-child(1) {
  width: 105%;
  transform: rotate(-40deg);
}
.pageHeader:global(.opened) .menuBtn span:nth-child(2) {
  width: 0;
}
.pageHeader:global(.opened) .menuBtn span:nth-child(3) {
  width: 105%;
  transform: rotate(40deg);
}

.navigMain {
  max-height: calc(100vh - 80px);
}

.naviWrap {
  height: 80vh;
}
.naviWrap li {
  border-bottom: 1px solid rgba(var(--goldRGB), 0.2);
  flex: 1;
  display: flex;
  overflow: hidden;
  text-align: right;
  transition: all 0.3s ease;
}
.naviWrap li a {
  cursor: pointer;
  width: 100%;
  padding-right: 2vw;
  font-size: clamp(1.88rem, calc(1.5rem + 1.875vw), 3.75rem);
  font-weight: 600;
  line-height: auto;
  display: flex;
  align-items: center;
  position: relative;
  transform: translateY(100%);
  transition:
    transform 0.6s ease,
    opacity 1s ease;
  will-change: transform;
  opacity: 0;
}

:global(.show) .naviWrap li a {
  transform: translateY(0%);
  opacity: 1;
  transition:
    transform 0.6s ease,
    opacity 1s ease,
    all 0.5s ease;
}
:global(.show) .naviWrap li:hover a {
  transform: translateY(0%) translateX(0px);
  transition: all 0.5s ease;
}

.naviWrap li a span {
  color: #fff;
  letter-spacing: 0.5rem;
  transition: inherit;
}
.naviWrap li:hover a span {
  background: linear-gradient(30deg, #b4925a, #fef2b3, #b4925a, #fef2b3);
  color: unset;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  letter-spacing: 0;
}

.headContBtn {
  width: 2rem;
  aspect-ratio: 1;
  background: transparent;
  border: 0;
  font-size: 1.5rem;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50rem;
  transition: all 0.8s ease;
  overflow: hidden;
  background: var(--primary);
  border: 1px solid var(--gold);
  z-index: 1;
}
.headContBtn svg {
  width: 55%;
}
.headContBtn:hover {
  color: #fff;
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
  text-shadow:
    0 0 1px rgba(255, 255, 255, 1),
    0 0 1px #000;
}
.headContBtn:before {
  content: "";
  width: 200%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: -250%;
  z-index: -1;
  transition: inherit;
  background: linear-gradient(
    60deg,
    rgba(180, 146, 90, 1) 0%,
    rgba(180, 146, 90, 1) 5%,
    rgb(219, 202, 114) 28%,
    rgba(180, 146, 90, 1) 50%,
    rgba(180, 146, 90, 0) 70%
  );
}
.headContBtn:hover:before {
  left: 0;
}

@media (min-width: 576px) {
  .headContBtn {
    width: 2.3rem;
  }
}

@media (min-width: 576px) {
  .logoBox {
    height: 60px;
  }
}
@media (min-width: 992px) {
  :global(.show) .naviWrap li a {
    transform: translateY(0%);
  }
}
@media (max-width: 767.98px) {
  :global(.headEnquiryBtn) {
    padding: 0.5rem;
    gap: 0;
  }
  :global(.headEnquiryBtn):after {
    width: 1.1rem;
    height: 1.1rem;
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M22 10.5V6a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v12c0 1.1.9 2 2 2h12.5'/><path d='m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7'/><path d='M18 15.28c.2-.4.5-.8.9-1a2.1 2.1 0 0 1 2.6.4c.3.4.5.8.5 1.3 0 1.3-2 2-2 2'/><path d='M20 22v.01'/></svg>")
      no-repeat center / cover;
  }
}
