.blogItem {
  background: #fff;
  position: relative;
  top: 0;
  transition: all 0.5s ease;
}
.blogThumb {
  aspect-ratio: 3/2;
  pointer-events: none;
}
.blogImg {
  width: 100% !important;
  height: 700px !important;
  object-fit: cover !important;
  object-position: center !important;
}
.blogDate {
  font-size: 1rem;
  font-weight: 600;
  display: inline-block;
}
.blogHead {
  color: var(--primary);
}

.stretchedLink {
  cursor:
    url("../../assets/images/readmore.svg") 30 30,
    pointer;
}

.blogItem:hover {
  background: var(--primary);
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  top: -5px;
  & .blogHead {
    color: #fff;
  }
  & p {
    color: #fff;
    opacity: 0.5;
  }
}

.blogPgTitle {
  position: relative;
  z-index: 1;
  margin: 0;
}
.blogBanner {
  background: var(--primary);
}
.blogContent h2 {
  font-weight: 600;
  color: var(--primary);
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.blogContent p {
  margin-bottom: 1rem;
  line-height: 1.8;
}
.blogContent ul li {
  margin-left: 1rem;
  list-style: disc;
  margin-bottom: 1rem;
}
.blogContent ul.number li {
  list-style: decimal;
}
.blogContent ul.alpha li {
  list-style: lower-alpha;
}
.blogContent ul.roman li {
  list-style: lower-roman;
}
.blogContent ul > li::marker {
  font-weight: 600;
  color: var(--red);
}
.blogContent a {
  color: var(--primary);
  text-decoration: underline;
}

.pgBtn {
  background-color: #fff;
  border: 1px solid #eee;
  color: #666;
  padding: 1rem 1.25rem;
  line-height: 1;
}
.pgBtn:hover,
.pgBtn:focus {
  background: var(--gold);
  color: #fff !important;
}
.pgBtn svg {
  width: 0.7rem;
}

.pgBtn {
  background-color: #fff;
  border: 1px solid #eee;
  color: #666;
  padding: 0.75rem 1rem;
  line-height: 1;
}
.pgBtn:hover,
.pgBtn:focus {
  background: var(--gold);
  color: #fff !important;
}
.pgBtn svg {
  width: 0.7rem;
}

.featuredBlogs {
  border-top: 1px solid #666;
  padding: 30px 0;
}

@media (min-width: 575px) {
  .blogList > :nth-child(2n-1) {
    transition-delay: 0.3s;
  }
  .blogList > :nth-child(2n) {
    transition-delay: 0.5s;
  }
  .blogPgTitle {
    margin: 0 2.5%;
  }
}
@media (min-width: 992px) {
  .blogList > :nth-child(3n-2) {
    transition-delay: 0.3s;
  }
  .blogList > :nth-child(3n-1) {
    transition-delay: 0.5s;
  }
  .blogList > :nth-child(3n) {
    transition-delay: 0.7s;
  }
}

@media (max-width: 768px) {
  .blogImg {
    width: 100% !important;
    height: auto !important;
    object-fit: contain !important;
    object-position: center !important;
  }
}
