.testimSwiper {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.testimonialSection{
    background: #faf8f3 !important;
}
.testimSwiper :global(.swiper-slide) {
    height: auto;
  }
.testimItem {
  height: 100%;
  background: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
  opacity: 0.5;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: scale(0.8);
  transition: all 0.8s ease;
}
.tiReview {
  font-size: clamp(1.25rem, calc(1.1rem + 0.75vw), 2rem);
  position: relative;
  z-index: 1;
  color: var(--primary);
}
.tiReview:before {
  content: "";
  width: 8%;
  aspect-ratio: 1;
  display: block;
  margin-bottom: 1rem;
  background: url("data:image/svg+xml,<svg viewBox='0 0 90 82' fill='%23d4af37' xmlns='http://www.w3.org/2000/svg'><path d='M90 0.71387L87.8824 14.8422C82.3765 14.4551 78.3529 15.4873 75.8118 17.9388C73.2706 20.3903 71.7176 23.6804 71.1529 27.8092C70.5882 31.9381 70.4471 36.3895 70.7294 41.1634H90V82H53.7882V33.4219C53.7882 21.5515 57.0353 12.6487 63.5294 6.71356C70.1647 0.778386 78.9882 -1.22151 90 0.71387ZM36.2118 0.71387L34.0941 14.8422C28.5882 14.4551 24.5647 15.4873 22.0235 17.9388C19.4823 20.3903 17.9294 23.6804 17.3647 27.8092C16.8 31.9381 16.6588 36.3895 16.9412 41.1634H36.2118V82H0V33.4219C0 21.5515 3.24706 12.6487 9.74118 6.71356C16.3765 0.778386 25.2 -1.22151 36.2118 0.71387Z'/></svg>")
    no-repeat center/contain;
}
.tiUser {
  border-top: 1px solid #ddd;
  margin-top: auto;
}
.tiUserImg {
  width: 3rem;
  aspect-ratio: 1;
  background: radial-gradient(
    135.25% 135.25% at 94.58% -35.56%,
    #3750b8 0%,
    #182452 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
}
.tiUserInfo small {
  font-size: 90%;
  color: #777;
}

:global(.swiper-slide-active) .testimItem {
  opacity: 1;
  transform: scale(1);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

:global(.swiper-pagination) {
    --swiper-pagination-bullet-inactive-color: #b5b6bc;
    --swiper-pagination-color: var(--primary);
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-size: 5px;
    --swiper-pagination-bottom: 0;
  }
  
  :global(.swiper-pagination-bullet) {
    border-radius: 50rem;
    transition: all 0.3s ease;
  }
  
  :global(.swiper-pagination-bullet-active) {
    width: calc(var(--swiper-pagination-bullet-size) * 4);
  }

@media (min-width: 576px) {
  .testimItem {
    padding: 2rem 3rem;
  }
}
